#banner{
    
    background-image: url("../../assets/Images/banner.png"),url("https://i.ibb.co/VLjnX2b/footer-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
    
}
@media (max-width: 640px) {
    #banner {
        background-size: cover; /* Use contain for smaller screens */
    }
}