#main-bg {
    background-image: url("https://i.ibb.co/DLKgry0/header-bg.png");
    background-repeat: no-repeat;
    background-size: contain; 
  
  }
  @media (max-width: 768px) {
    #main-bg {
      background-size: cover; 
  }
  }